/* Variables */
:root {
  /* FONTS */

  /* COLORS */
  --BGCOLOR: #36384d;
  --BGCOLOR-CARD: #fff;
  --FONT-COLOR-BTN: #fff;
  --BGCOLOR-BTN: #242742;
  --FONT-COLOR: #242742;
  --BORDER-COLOR: #949494;

  /* SHADOWS */
}

/* Font Import */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/roboto-bold.woff2') format('woff2');
}

/* CSS Reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

ul,
ol {
  list-style: none;
}

/* General Styles */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--BGCOLOR);
  color: var(--FONT-COLOR);
}

.hidden {
  display: none;
}

main {
  margin: 20rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* SECTION: Call to Action (cta) */

.section__cta {
  background-color: var(--BGCOLOR-CARD);
  padding: 2em;
  font-size: 1.6rem;
  max-width: 95rem;
  border-radius: 4.5rem;
}

.cta__text {
  max-width: 40rem;
  margin-top: 6.4rem;
}

.cta__heading {
  font-size: 5.6rem;
  margin-bottom: 2.4rem;
}

.cta__subheading {
  margin-bottom: 2.4rem;
}

.cta__list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}

.list__item {
  display: flex;
  gap: 1.2rem;
}

.cta__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cta__form label {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
}

.cta__form input {
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 9px;
  padding: 1.2em;
  margin-bottom: 1.8rem;
}

.btn__form {
  background-color: var(--BGCOLOR-BTN);
  color: var(--FONT-COLOR-BTN);
  border-radius: 9px;
  padding: 1em;
  font-weight: 700;
}

.cta__img {
  justify-self: end;
}
