/* Variables */
:root {
  /* FONTS */

  /* COLORS */
  --BGCOLOR: #36384d;
  --BGCOLOR-CARD: #fff;
  --FONT-COLOR-BTN: #fff;
  --BGCOLOR-BTN: #242742;
  --FONT-COLOR: #242742;
  --BORDER-COLOR: #949494;
  --red: #ff6155;
  --red-transparent: rgba(255, 96, 85, 0.4);
  --linear-gradient: linear-gradient(to right, #ff6a3a, #ff527b);

  /* SHADOWS */
  --BOX-SHADOW-BTN: 0 2rem 2rem rgba(255, 82, 123, 0.4);

  /* BORDER RADIUS */
  --BORDER-RADIUS-CARD: 4.5rem;
}

/* Font Import */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/roboto-bold.woff2') format('woff2');
}

/* CSS Reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

ul,
ol {
  list-style: none;
}

/* General Styles */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--BGCOLOR);
  color: var(--FONT-COLOR);
}

main {
  margin: 20rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heading-primary {
  font-size: 5.6rem;
  margin-bottom: 4.2rem;
  line-height: 1;
}

.btn {
  background-color: var(--BGCOLOR-BTN);
  color: var(--FONT-COLOR-BTN);
  border-radius: 9px;
  padding: 1.2em;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
}

/* link - visited, hover - active */

.btn:hover,
.btn:active {
  background: linear-gradient(to right, #ff6a3a, #ff527b);
}

/* SECTION: Call to Action (cta) */

.section__cta {
  background-color: var(--BGCOLOR-CARD);
  padding: 2em;
  font-size: 1.6rem;
  max-width: 95rem;
  border-radius: var(--BORDER-RADIUS-CARD);
  margin: 0 auto;
}

.cta__text {
  max-width: 40rem;
  margin-top: 6.4rem;
}

.cta__subheading {
  margin-bottom: 2.4rem;
}

.cta__list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.list__item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/* FORM */

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group label {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
}

.form-group input {
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 9px;
  padding: 1.2em;
}

.btn__form {
  margin-top: 1.6rem;
}

.cta__img {
  justify-self: end;
}

/* Success Component */
.user-email {
  font-weight: 700;
}

.form__success {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: var(--BGCOLOR-CARD);
  font-size: 1.6rem;
  padding: 5.6rem;
  max-width: 47rem;
  border-radius: var(--BORDER-RADIUS-CARD);
  margin: 0 auto;
}

.success__icon {
  align-self: start;
}

.form__success p {
  line-height: 1.5;
}

.form__success .heading-primary {
  margin-bottom: 0;
}

.btn__dismiss:hover,
.btn__dismiss:active {
  box-shadow: var(--BOX-SHADOW-BTN);
}

/* Error Message */
.error-message:empty {
  display: none;
}

.error-message {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 700;
  color: var(--red);
  position: absolute;
  left: 40%;
}

input.invalid {
  background-color: #ff60551c;
  color: var(--red);
  border-color: var(--red);
}

/* Attribution */
.attribution {
  font-size: 1.6rem;
  color: var(--FONT-COLOR-BTN);
  text-align: center;
}

.attribution a:link,
.attribution a:visited {
  color: var(--red);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 1px;
}

/* Media Query */

@media (max-width: 79em) {
  .section__cta {
    display: flex;
    flex-direction: column-reverse;
    max-width: 65rem;
  }

  .cta__img {
    content: url(./assets/images/illustration-sign-up-mobile.svg);
    border-radius: 2rem;
  }

  .cta__text {
    max-width: 46em;
    margin-top: 3.6rem;
  }

  .error-message {
    left: 55%;
    transform: translate(100%);
  }
}

@media (max-width: 51em) {
  main {
    margin: 0;
    margin-bottom: 8rem;
  }
  .section__cta {
    overflow: hidden;
    border-radius: 0;
    padding: 1.6em;
    max-width: 35rem;
  }

  .cta__img {
    margin: -2em -1.6em;
    border-radius: 0;
  }

  .heading-primary {
    font-size: 4rem;
    margin-top: 2.6rem;
    margin-bottom: 2rem;
  }

  .form-group input,
  .btn {
    padding: 1em;
    font-size: 1.4rem;
  }

  .form__success {
    padding: 0 2em;
    border-radius: 0;
    height: 100vh;
  }

  .btn__dismiss {
    margin-top: auto;
    margin-bottom: 6rem;
  }
  .success__icon {
    margin-top: 15rem;
  }

  .error-message {
    left: 50%;
    transform: translate(50%);
  }
}

.hidden {
  display: none;
}
